<!DOCTYPE html>
<html>
    <body>
        <div class="paginator">
            {% if page.has_previous %}
            <a href="?page={{page.previous_page_number}}" class='btn btn-primary'>Previous</a> &nbsp &nbsp
            {% endif %}
            <span>page {{page.number}} of {{page.paginator.num_pages}}</span>&nbsp&nbsp
            {% if page.has_next %}
            <a href="?page={{page.next_page_number}}" class='btn btn-primary'>Next</a> &nbsp &nbsp
            {% endif %}
        </div>
    </body>
</html> 