<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
</head>
{% extends 'myApp/parent.html'%}

<body style="background-color:#e8e8e8;">
    {% block for_child %}
        <h1 style="color:#0278ae"><b>Employee Details</b></h1>
        <table border="2">
            <tr style="color:#006a71">
                <th><b><h2>Number</h2></b></th>
                <th><b><h2>Name</h2></b></th>
                <th><b><h2>Salary</h2></b></th>
                <th><b><h2>Address</h2></b></th>
                <th><b><h2>Update</h2></b></th>
                <th><b><h2>Delete</h2></b></th>
            </tr>
            {% for x in emp %}
            <tr>
                <td><b>{{x.eno}}</b></td>
                <td><b>{{x.ename}}</b></td>
                <td><b>{{x.esal}}</b></td>
                <td><b>{{x.eaddr}}</b></td>
                <td> <a href="/update/{{x.id}}" class="btn btn-lg btn-warning">Update</a> </td>
                <td><a href="/delete/{{x.id}}" class="btn btn-lg btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="/insert" class="btn btn-lg btn-primary">Do you want to insert a new record</a>
        {% endblock %}
</body>

</html>