<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container" align="center">
        <h1>Update Record</h1>
        <form method="POST">
            Eno<input type="text" name="eno" value="{{emp.eno}}"><br><br>
            Ename<input type="text" name="ename" value="{{emp.ename}}"><br><br>
            Esal<input type="text" name="esal" value="{{emp.esal}}"><br><br>
            EAddr<input type="text" name="eaddr" value="{{emp.eaddr}}"><br><br>
            {% csrf_token %}
            <input class="btn btn-lg btn-primary" type="submit" value="submit">
        </form>
    </div>
</body>

</html>