<!DOCTYPE html>
<html lang="en">

    {% extends 'myApp/parent.html' %}

<body>
    {% block for_child %}
        <h1>Update Record</h1>
        <form method="POST">
            Eno<input type="text" name="eno" value="{{emp.eno}}"><br><br>
            Ename<input type="text" name="ename" value="{{emp.ename}}"><br><br>
            Esal<input type="text" name="esal" value="{{emp.esal}}"><br><br>
            EAddr<input type="text" name="eaddr" value="{{emp.eaddr}}"><br><br>
            {% csrf_token %}
            <input class="btn btn-lg btn-primary" type="submit" value="submit">
        </form>
        {% endblock %}
</body>

</html>