<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
</head>
{% extends 'myApp/parent.html' %}

<body>
    {% block for_child %}
    <div class="jumbotron">
        <div class="container" align="center">
            <h1>Welcome to PENTAGONSPACE</h1>
            <h1>Rules to take up the test</h1>

            <ul>
                <li>You are given 1hr of duration</li>
                <li>No calculator is aallowed</li>
                <li>Indicipline is not entertained</li>
            </ul>
        </div>
        </div>
    {% endblock %}
</body>

</html>