<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faker Data</title>
</head>
<body>
    <center>
        <h1 style="color:blue">Student Record</h1>
        {% for x in stud %}
        <h2>Name:{{x.name}}</h2>
        <h2>Roll:{{x.roll}}</h2>
        <h2>Marks:{{x.marks}}</h2>
        <h2>DOB:{{x.dob}}</h2>
        <h2>Email:{{x.email}}</h2>
        <hr>
        {% endfor %}
    </center>
</body>
</html>