<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
    <center>
        <h1 style="color:coral"><u>Signup Details</u></h1>
        <h2>You have sucessfully signed up..Thank You</h2>
        <br>
        <h2>Username:{{name1}}</h2><br>
        <h2>Roll:{{roll1}}</h2><br>
        <h2>Email:{{email1}}</h2><br>
        <h2>Phone:{{phone1}}</h2><br>
        <h2>Comments:{{comments1}}</h2><br>
        <h2>Engineering Student:{{AreUAnEngineeringStudent}}</h2><br>

    </center>
</body>
</html>